ul#navbar {
  list-style:none;
  margin:20px;
  padding:0;
  width:775px
}

ul#navbar li {
  display:inline
}

ul#navbar li a {
  text-decoration:none;
  padding:5px 0;
  width:150px;
  background:#003399;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul#navbar li a:hover {
  background:#337aff;
  color:#000
}

div#selected{
  text-decoration:none;
  padding:5px 0;
  width:150px;
  background:#99bbff;
  color:#00091a;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}